.site {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    /* min-height: 100vh; */
    -webkit-box-orient: vertical; /*very important*/
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (min-width: 62em){
	div.top-pic{
		margin: 0 auto;
		height: 32em;
	}
}

div.top-pic{
    margin: 3.75rem auto 0;
    min-height: 16.25rem;
    width: 100%;
    position: relative;
    background-color: #dde5ea;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
	background-image: url(https://raw.githubusercontent.com/Pacific-Feng/Picture_Storer/main/Chiayi/Chiayi1.jpg);
}

body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #343851;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

.div.top-pic::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52,56,81,0.8);
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@media only screen and (min-width: 75em){}
	.postcard-region {
		margin: 0 auto;
		max-width: 1170px;
	}
}

@media only screen and (min-width: 62em){
	.postcard-region {
		margin: 0 auto;
		max-width: 960px;
	}
}

@media only screen and (min-width: 48em){
	.postcard-region {
		margin: 0 auto;
		max-width: 720px;
	}
}

@media only screen and (min-width: 36em){
	.postcard-region {
		margin: 0 auto;
		max-width: 540px;
	}
}

.container {
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

@media only screen and (min-width: 75em){
	.postcard {
		width: 31.25%;
		margin-right: 3.125%;
	}
}

@media only screen and (min-width: 48em){
	.postcard {
		width: 48.4375%;
		margin-right: 3.125%;
	}
}



.postcard {
    display: block;
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    margin-bottom: 2.25rem;
    border-bottom: 0;
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

.post-card__thumb>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

.post-card__inner {
    display: block;
    position: relative;
    padding: 1.875rem 1.25rem 0.625rem;
    width: 100%;
    color: #838c8d;
    border-bottom: 0;
	margin-bottom: 0.75rem;
}